body {
    font-style: curs;
    margin: 0%;
    text-align: center;
    
    padding-top: 10%;
    padding-left: 15%;
    background-image: url(ball.jpg);
    background-image: 100%;
   
}



.container {
    /*padding: auto;*/
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    /*margin-top: 20%;*/
    
    width: 600px;
    height: 400px;
    background-image: linear-gradient(180deg, #200835 0%,#000000  100%);
    border-radius: 5%;
    box-shadow: 2px 2px 2px black,-2px -2px white;
   
}

#home-div{
    padding-right: 12%;
    
}

#board-titlehome{
    
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */
    text-align: center;
    color: #EEEEEE;
   
}

.home-logo,
.guest-logo{
    
    margin: 10px 4px;
    height: 60px;
    width: 60px;
}

#homescore{

    background: #080001;
    border-radius: 5px;
    width: 155px;
    height: 120px;
   
}

#score-home{
     margin-top: 10%;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */
    text-align: center;
    color: #F94F6D;
    
   
}


#incree{
    display: flex;
    padding-top: 13%;
    padding-left: 3%;
    justify-content: space-between;
    position: relative;
    
}

#decre{
    display: flex;
    padding-top: 13%;
    padding-left: 3%;
    justify-content: space-between;
   
    position: relative;


}

#dec{
    background-color: #1B244A;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    color: white;
    font-size:20px;
    font-weight: 700px;

}

#inc{
    background-color: #1B244A;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    color: white;
    font-size:20px;
    font-weight: 700px;
}


#guest-div{
    padding-right: 5%;
}

#board-title{
  
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */
    text-align: center;
    color: #EEEEEE;
    
}

#guestscore{
    background: #080001;
    border-radius: 5px;
    width: 155px;
    height: 120px;

}

#score-guest{
    margin-top: 10%;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */
    text-align: center;
    color: #F94F6D;

}

h4{

    width: 30px;
    height: 25.77px;
    left: 89px;
    top: 280px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 2px;
    /* or 155% */
    text-align: center;
    color: #9AABD8;
}




@media only screen and (max-width: 600px ){
    
    #home-div{
        margin-left: 70%;
        padding: 4%;    
    }

    #guest-div{
        margin-right: -50%;
        padding: 4%;   
    }
    .container{
    max-width: 75%; 
    width: 575px;
    height: 300px;
  
    }

    #board-title,
    #board-titlehome{
    margin-top: -30%;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 18px;
   /* // identical to box height, or 90% */
    text-align: center;
    color: #EEEEEE;
    padding-right:10%;
   
}

#guestscore,
#homescore{
    background: #080001;
    border-radius: 5px;
    width: 80px;
    height: 60px;
    padding-top: 20%;
    padding: 0%;
}

#score-guest,
#score-home{
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
  /* //  or 141% */
    text-align: center;
    color: #F94F6D;
}

.home-logo,
.guest-logo{
    margin-top: 5px;
    height: 40px;
    width: 40px;
}

#inc,
#dec{
    background-color:#1B244A ;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-size: 15px;
}

h4{
    align-items: center;
    width: 30px;
    height: 25.77px;
    left: 89px;
    top: 280px;
    font-weight: 400;
    font-size: 15px;
    line-height: 2px;   
}


#won{
    margin: 0%;
}
#but{   
    padding-right: 100%;
    padding-top: 70%;   
}
#winner{
    background-color: transparent;
    border-radius: 15%;
    padding: 0%;
}
}


@media only screen and (max-width: 500px ){
    .container{
        max-width: 350px;
    }

    .home-logo,
.guest-logo{
    margin-top: 5px;
    height: 40px;
    width: 40px;
}

}



@media only screen and (max-width: 400px ){
     
    .container{
    max-width: 350px;
    width: 575px;
    height: 300px;
}

    #board-title,
    #board-titlehome{
    font-weight: 1000; 
}


#score-guest,
#score-home{
    font-weight: 700;
}

.home-logo,
.guest-logo{
    margin-top: 5px;
    height: 40px;
    width: 40px;
}

#won{
    margin: 0%;
}
#but{   
    padding-right: 100%;
    padding-top: 70%;   
}
#winner{
    background-color: transparent;
    border-radius: 15%;
    padding: 0%;
}
#inc,
#dec{
    font-size: 15px;
}

}



@media only screen and (max-width: 320px ){
    .time{
        margin-left: 40%;
    }
    .all-butt{
        display: flex;
   
    }
    body{
        margin: 20% 0% 0% 30%;
    }
    
    .container{
    align-content: center;
    max-width: 350px;
    width: 575px;
    height: 300px;
    }

    #board-title,
    #board-titlehome{
    font-weight: 1000; 
}


#score-guest,
#score-home{
    font-weight: 700;
}

.home-logo,
.guest-logo{
    margin-top: 5px;
    height: 40px;
    width: 40px;
}

#won{
    margin: 0%;
}
#but{   
    padding-right: 100%;
    padding-top: 70%;   
}
#winner{
    background-color: transparent;
    border-radius: 15%;
    padding: 0%;
}

#inc,
#dec{
    font-size: 15px;
}

} 

@media only screen and (max-width : 658px){
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        /* max-width: 80%; */
        /*margin-top: 20%;*/
        
        width: 900px;
        height: 400px;
        background-image: linear-gradient(180deg, #200835 0%,#000000  100%);
        border-radius: 5%;
        box-shadow: 2px 2px 2px 2px black,-2px -2px  white;
    }
}


/* timer button */
#startButton{
    background-color: #13db1a; /* Green */
    border: none;
    border-radius: 5px;
    box-shadow: -2px -2px 2px 2px #EEEEEE;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
} 


#stopButton {
    background-color: #f10c0c; /* Green */
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #EEEEEE;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  
  #startButton:hover {
    background-color: #3e8e41;
  }
  #stopButton:hover {
    background-color: #b85757;
  }

  #startButton:active, #stopButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  